@import url('reset.css');

p {
    color: #515151;
}


h1 {
    color: black;
    font-size: 20px; 
    font-weight: 600;
    line-height: 100%;
}

h3 {
    color: black;
    font-size: 14px; 
    font-weight: 600;
    line-height: 100%;
}


section {
    margin: 100px auto; /*margem superior e inferior de 100px e auto (navegador calcula automaticamente as margens) para as laterais*/
}


/* >>>>>>>>>>>>> HEADER >>>>>>>>>>>>>>>>>>>>>>>>*/

.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


header.menu {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#menu-left, #menu-right {
    gap: 24px; /* espaçamento entre filhos */
}


/* >>>>>>>>>>>>> HEADER - ESQUERDA >>>>>>>>>>>>>>>>>>>>>*/
.logo img {
  width: 90px;
  height: 20px;
  object-fit: contain; /* Mantém a proporção da imagem */
}

/* >>>>>>>>>>>>> HEADER - CENTRAL >>>>>>>>>>>>>>>>>>>>>*/
#menu-center .search {
  display: flex; /* Usando flexbox para alinhar os elementos */
  align-items: center; /* Alinha verticalmente os itens ao centro */
  width: 404px;
  height: 40px;              
  border: 1px solid #ccc; /* Borda cinza clara */     
  border-radius: 3px; /* Bordas arredondadas */         
  background: #fff;        
}

#menu-center .search input, 
#menu-center .search button {
    height: 100%; 
    border: 0;
}

#menu-center .search input {
  width: 100%; /* Faz o input ocupar todo o espaço disponível */                  
  padding: 0 12px; /* Espaçamento interno à esquerda e à direita */
  font-size: 14px; /* Tamanho da fonte */
  color: #333;
}   

#menu-center .search button {
  width: 57px; /* Largura fixa para o botão */
  background-color: #f8f8f8; /* Cor de fundo do botão */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

/* >>>>>>>>>>>>> HEADER - DIREITO >>>>>>>>>>>>>>>>>>>>>*/
#menu-right .avatar img {
  width: 34px;
  height: 34px;
  border-radius: 50%; /* Torna a imagem circular */
  object-fit: cover; /* Corta a imagem para preencher o contêiner */
}

/* >>>>>>>>>>>>> MAIN - SECTION >>>>>>>>>>>>>>>>>>>>>>>>*/

.content {
  display: flex;
  gap: 24px; /* Espaçamento entre os elementos */
  margin-top: 15px; /* Espaçamento superior */
}


main {
  flex-direction: row-reverse; /* Alinha os elementos da direita para a esquerda */
  align-items: flex-start; /* Alinha os itens ao topo */
}


.watching-video-section {
  flex-direction: column; /* Alinha os elementos em coluna */
  width: 60%; /* Ocupa 60% da largura */
  margin-left: 75px; /* Espaçamento esquerdo */;
}

.watching-video-section .video {
  width: 955px; /* Largura fixa para o vídeo */
  height: 535px; /* Altura fixa para o vídeo */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites */
}

.video iframe {
  width: 100%; /* Faz o iframe ocupar toda a largura do contêiner */
  height: 100%; /* Faz o iframe ocupar toda a altura do contêiner */
  border: none; /* Remove a borda padrão do iframe */
}

/*Aplica sobre todos os elementos cuja classe é video-actions*/
.watching-video-section .video-actions {
  display: flex; /* Usando flexbox para alinhar os elementos */
  justify-content: space-between; /* Espaça os elementos igualmente */
  align-items: center; /* Alinha verticalmente os itens ao centro */
  gap: 10px; /* Espaçamento entre os elementos */ 
}

.dio-action .dio-logo img {
  width: 42px; /* Largura fixa para o logotipo */
  height: 42px; /* Altura fixa para o logotipo */
  border-radius: 50%; /* Torna a imagem circular */
  object-fit: cover; /* Corta a imagem para preencher o contêiner */
}

.video-inscrever button {
  background-color: #cc0000; /* Cor de fundo vermelha */
  width: 159px; /* Largura fixa */
  height: 36px; /* Altura fixa */
  color: #FFF; /* Cor do texto branca */
  border: none; /* Remove a borda padrão */
  padding: 10px 16px; /* Espaçamento interno */
  border-radius: 2px; /* Bordas levemente arredondadas */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  font-size: 14px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
  text-transform: uppercase;
}

.watching-video-section .video-description-02 {
  width: 57%; /* largura de 57% do contêiner pai */
  height: 64px; /* altura fixa de 64px */
}


.video-description-02 p {
  font-size: 14px; /* tamanho confortável para leitura */
  font-weight: 400; /* texto regular, sem negrito */
  line-height: 1.5; /* espaçamento entre linhas */
  text-align: left; /* garante alinhamento à esquerda */
}










